<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Modifier un artiste</title>
    </h:head>
    <h:body><f:view>


            <h:form>
                <h1><h:outputText value="Create/Edit"/></h1>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Numartiste:" for="numartiste" />
                    <h:inputText readonly="true" id="numartiste" value="#{artistecontroleur.a.numartiste}" title="Numartiste" required="true" requiredMessage="The Numartiste field is required."/>
                    <h:outputLabel value="Prenom:" for="prenom" />
                    <h:inputText id="prenom" value="#{artistecontroleur.a.prenom}" title="Prenom" />
                    <h:outputLabel value="Nom:" for="nom" />
                    <h:inputText id="nom" value="#{artistecontroleur.a.nom}" title="Nom" />
                    <h:outputLabel value="Sexe:" for="sexe" />
                    <h:inputText id="sexe" value="#{artistecontroleur.a.sexe}" title="Sexe" />
                    <h:outputLabel value="Styleartiste:" for="styleartiste" />
                    <h:inputText id="styleartiste" value="#{artistecontroleur.a.styleartiste}" title="Styleartiste" />
                    
                    <h:commandButton  value ="Save" action ="#{artistecontroleur.edit()}"> </h:commandButton>
                </h:panelGrid>
            </h:form>
        </f:view>

        
    </h:body>
</html>

