<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Lister Manager</title>
    </h:head>
    <h:body>
        <f:view>


            <h:form>
                <h:link value ="Ajouter d'un Manager" outcome="AjoutManager"></h:link>
                <h1><h:outputText value="Lister Manager "/></h1>
                <h:dataTable value="#{managercontroleur.findAll()}" var="item">
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Numan"/>
                        </f:facet>
                        <h:outputText value="#{item.numan}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Nom"/>
                        </f:facet>
                        <h:outputText value="#{item.nom}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Prenom"/>
                        </f:facet>
                        <h:outputText value="#{item.prenom}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Sexe"/>
                        </f:facet>
                        <h:outputText value="#{item.sexe}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Fonction"/>
                        </f:facet>
                        <h:outputText value="#{item.fonction}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Salaire"/>
                        </f:facet>
                        <h:outputText value="#{item.salaire}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="Bonus"/>
                        </f:facet>
                        <h:outputText value="#{item.bonus}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <h:outputText value="LES DIFFERENTES OPTIONS "/>
                        </f:facet>
                         <h:commandLink value="Suprimer un Manager" action="#{managercontroleur.SupManager(item)}" onclick="return confirm ('Etes-vous sur ?')"> </h:commandLink>
                         <h:commandLink value="Modifier un Manager" action="#{managercontroleur.ModManager(item)}" > </h:commandLink>
                    </h:column>
                </h:dataTable>
            </h:form>
        </f:view>

        
    </h:body>
</html>

