<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Modifier Une Salle</title>
    </h:head>
    <h:body><f:view>


            <h:form>
                <h1><h:outputText value="Create/Edit"/></h1>
                <h:panelGrid  columns="2">
                    <h:outputLabel value="Numsal:" for="numsal" />
                    <h:inputText id="numsal" value="#{sallexpomanager.s.numsal}" title="Numsal" required="true" requiredMessage="The Numsal field is required."/>
                    <h:outputLabel value="Numemp:" for="numemp" />
                    <h:inputText id="numemp" value="#{sallexpomanager.s.numemp}" title="Numemp" />
                    <h:outputLabel value="Nomsal:" for="nomsal" />
                    <h:inputText id="nomsal" value="#{sallexpomanager.s.nomsal}" title="Nomsal" />
                </h:panelGrid>
                <h:commandButton value="Enregistrer" action="#{sallexpomanager.ModSal()}"></h:commandButton>
            </h:form>
        </f:view>

        
    </h:body>
</html>

