<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Modifier Une Oeuvre </title>
    </h:head>
    <h:body>
        <f:view>


            <h:form>
                <h1><h:outputText value="Create/Edit"/></h1>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Numoeuvre:" for="numoeuvre" />
                    <h:inputText id="numoeuvre" value="#{oeuvrecontroleur.o.numoeuvre}" title="Numoeuvre" required="true" requiredMessage="The Numoeuvre field is required."/>
                    <h:outputLabel value="Numartiste:" for="numartiste" />
                    <h:inputText id="numartiste" value="#{oeuvrecontroleur.o.numartiste}" title="Numartiste" />
                    <h:outputLabel value="Nomoeuvre:" for="nomoeuvre" />
                    <h:inputText id="nomoeuvre" value="#{oeuvrecontroleur.o.nomoeuvre}" title="Nomoeuvre" />
                    
                      <h:commandButton  value ="Save" action ="#{oeuvrecontroleur.Modifier()}"> </h:commandButton>
                </h:panelGrid>
            </h:form>
        </f:view>

    </h:body>
</html>

